{% extends 'base.html' %}
{% load static %}

{%block content%}


<div class="section-hero">
    <div style="opacity:0" class="ellipses-holder">
        <div style="-webkit-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0deg) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0deg) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0deg) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0deg) skew(0, 0)"
            class="ellipse-right"></div>
        <div style="-webkit-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0deg) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0deg) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0deg) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0deg) skew(0, 0)"
            class="ellipse-left"></div>
    </div>
    <div class="main-hero-container">
        <div class="small-container">
            <div class="text-center">
                <div style="opacity:0;-webkit-transform:translate3d(0, 0, 0) scale3d(0.7, 0.7, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(0.7, 0.7, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(0.7, 0.7, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(0.7, 0.7, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)"
                    class="app-icon-holder"><img src="{% static 'img/logo_icon_blue.png' %}" loading="lazy" alt="" />
                </div>
                <h1 style="-webkit-transform:translate3d(0, 20px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(-3deg, -3deg);-moz-transform:translate3d(0, 20px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(-3deg, -3deg);-ms-transform:translate3d(0, 20px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(-3deg, -3deg);transform:translate3d(0, 20px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(-3deg, -3deg);opacity:0"
                    class="main-heading">Manage it all, in this all new system.</h1>
                <div class="w-layout-grid grid-10-columns">
                    <p id="w-node-_72db7d5e-67ba-1361-b1aa-1a07ac8f1178-ac768e33"
                        style="-webkit-transform:translate3d(0, 20px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 20px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 20px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 20px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0"
                        class="hero-description">Risitibox is a comprehensive mobile app that revolutionizes receipt
                        management. By digitizing and centralizing the storage of purchase receipts, it offers users
                        a convenient, secure, and efficient solution to organize, access, and share receipts.</p>
                </div>
                <div style="-webkit-transform:translate3d(0, 20px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 20px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 20px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 20px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0"
                    class="download-buttons hero-download-buttons">
                    <div class="download-button"><a href="https://apps.apple.com/tz/app/risitibox/id6448885601"
                            target="_blank" class="button download w-inline-block"><img
                                src="https://assets.website-files.com/604b35876a71cbbd84768e36/604cf52ff6f5c04c33cca6ad_Apple-Icon.svg"
                                loading="lazy" alt="" class="download-button-icon" />
                            <div> Download for iOS</div>
                        </a></div>
                    <div class="download-button middle"><a
                            href="https://play.google.com/store/apps/details?id=com.risitibox.receiptapp"
                            target="_blank" class="button download w-inline-block"><img
                                src="https://assets.website-files.com/604b35876a71cbbd84768e36/604cf52f84f8f84bb92cde4e_Android-Icon.svg"
                                loading="lazy" alt="" class="download-button-icon" />
                            <div> Download for Android</div>
                        </a></div>

                    <div class="download-button last"><a href="https://web.risitibox.com" target="_blank"
                            class="button download w-inline-block"><img height="23px"
                                src="{% static 'img/web_icon.png' %}" loading="lazy" alt=""
                                class="download-button-icon" />
                            <div> Web version</div>
                        </a></div>
                </div>
            </div>
        </div>
    </div>
    <div class="small-container">
        <div style="-webkit-transform:translate3d(0, -650px, 0) scale3d(0.8, 0.8, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, -650px, 0) scale3d(0.8, 0.8, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, -650px, 0) scale3d(0.8, 0.8, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, -650px, 0) scale3d(0.8, 0.8, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)"
            class="hero-text-sticky">
            <div class="hero-text-holder">
                <div class="hero-text-holder-1">
                    <h1 style=" -webkit-transform:translate3d(100%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(100%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(100%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(100%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)"
                        class="hero-text _1"><span style="color:#3549FF !important;">Risiti</span></h1>
                </div>
                <div class="hero-text-line"></div>
                <div class="hero-text-holder-2">
                    <h1 style="-webkit-transform:translate3d(-100%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(-100%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(-100%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(-100%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)"
                        class="hero-text _2"
                        style="background-image: linear-gradient(90deg, #8650ff, #ff1c9c54) !important">box
                    </h1>
                </div>
            </div>
        </div>
        <div data-w-id="08a4f49f-daee-82d9-5871-e852a62377d9" style="opacity:0" class="hero-product-demo">
            <div class="product-demo-sticky">
                <div class="product-phone-image-container">
                    <div class="product-container">
                        <div class="product-phone-image-holder"><img
                                src="https://assets.website-files.com/604b35876a71cbbd84768e36/604ce94df02e1e447d32686d_Apple iPhone 11 Pro Space Grey 1.png"
                                loading="lazy" sizes="(max-width: 479px) 300px, 400px"
                                srcset="https://assets.website-files.com/604b35876a71cbbd84768e36/604ce94df02e1e447d32686d_Apple%20iPhone%2011%20Pro%20Space%20Grey%201-p-500.png 500w, https://assets.website-files.com/604b35876a71cbbd84768e36/604ce94df02e1e447d32686d_Apple%20iPhone%2011%20Pro%20Space%20Grey%201.png 588w"
                                alt="" class="product-phone-image" />
                            <div class="product-phone-content"><img src="{% static 'img/reports.png' %}" loading="lazy"
                                    sizes="(max-width: 479px) 246px, 327px"
                                    srcset="{% static 'img/reports.png' %} 500w, {% static 'img/reports.png' %} 750w"
                                    alt="" class="product-phone-demo-image" /><img
                                    src="https://assets.website-files.com/604b35876a71cbbd84768e36/604d43119ce091cb1037818c_LockScreen-Light.jpg"
                                    loading="lazy" sizes="(max-width: 479px) 246px, 327px"
                                    srcset="https://assets.website-files.com/604b35876a71cbbd84768e36/604d43119ce091cb1037818c_LockScreen-Light-p-800.jpeg 800w, https://assets.website-files.com/604b35876a71cbbd84768e36/604d43119ce091cb1037818c_LockScreen-Light.jpg 839w"
                                    alt="" class="iphone-lock-screen-image" /></div>
                        </div><a href="#" class="play-icon-holder w-inline-block w-lightbox"><img
                                src="https://assets.website-files.com/604b35876a71cbbd84768e36/604e0b990851a7f3bb6efd47_play-button.svg"
                                loading="lazy" alt="" class="play-icon-image" />
                            <script type="application/json" class="w-json">{
"items": [
{
  "url": "https://www.youtube.com/watch?v=sWRUzxINCoA",
  "originalUrl": "https://www.youtube.com/watch?v=sWRUzxINCoA",
  "width": 940,
  "height": 528,
  "thumbnailUrl": "http://i.ytimg.com/vi/sWRUzxINCoA/hqdefault.jpg",
  "html": "<iframe class=\"embedly-embed\" src=\"//cdn.embedly.com/widgets/media.html?src=https%3A%2F%2Fwww.youtube.com%2Fembed%2FsWRUzxINCoA&display_name=YouTube&url=https%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3DsWRUzxINCoA&image=http%3A%2F%2Fi.ytimg.com%2Fvi%2FsWRUzxINCoA%2Fhqdefault.jpg&key=96f1f04c5f4143bcb0f2e68c87d65feb&type=text%2Fhtml&schema=youtube\" width=\"940\" height=\"528\" scrolling=\"no\" title=\"YouTube embed\" frameborder=\"0\" allow=\"autoplay; fullscreen\" allowfullscreen=\"true\"></iframe>",
  "type": "video"
}
],
"group": ""
}</script>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section second">
    <div class="container">
        <div class="customers-panel">
            <div class="text-holder">
                <div class="text-center">
                    <div class="fade-in-on-scroll">
                        <!-- <h5>More than 20,000 companies and individuals use it</h5> -->
                        <h5>A number of companies and individuals use it</h5>

                    </div>
                </div>
            </div>
            <div class="w-layout-grid grid-5-col">

                <div class="content centered"><img src="{% static 'img/mushroom.jpeg' %}" loading="lazy" alt=""
                        class="customer-image" /></div>

            </div>
        </div>
    </div>
</div>
<div id="FeatureList" class="section light-blue-bg">
    <div class="container">
        <div class="text-center">
            <div class="fade-in-on-scroll">
                <h2 class="text-gradient-2">Manage all your purchases receipts by just scanning.</h2>
            </div>
            <div class="text-container">
                <div class="fade-in-on-scroll">
                    <p>Let Risitibox streamline your financial tracking effortlessly, leaving you with more time to
                        focus on what truly matters.</p>
                </div>
            </div>
        </div>
        <div class="w-layout-grid feature-grid">
            <div id="w-node-_7b19d13e-0e8d-2369-5abf-e24fedfaa268-ac768e33" class="card-item light">
                <div class="card-item-content">
                    <div class="fade-in-on-scroll">
                        <h4>Easy Access</h4>
                    </div>
                    <div class="fade-in-on-scroll">
                        <p>By digitizing and centralizing receipt storage, Risitibox provides easy access to
                            receipts whenever needed. Instead of sifting through stacks of papers or folders, users
                            can simply open the app on their phone, search for a specific receipt, and retrieve it
                            instantly. This efficient retrieval process saves valuable time and effort compared to
                            the traditional method of manual filing.</p>
                    </div>
                </div>
                <img src="https://assets.website-files.com/604b35876a71cbbd84768e36/604e5220385521ad71415047_Features-Image-2-min.png"
                    loading="lazy" style="opacity:0" data-w-id="628315c7-9285-9cb1-4712-9cee2615c331"
                    srcset="https://assets.website-files.com/604b35876a71cbbd84768e36/604e5220385521ad71415047_Features-Image-2-min-p-500.png 500w, https://assets.website-files.com/604b35876a71cbbd84768e36/604e5220385521ad71415047_Features-Image-2-min-p-800.png 800w, https://assets.website-files.com/604b35876a71cbbd84768e36/604e5220385521ad71415047_Features-Image-2-min.png 1068w"
                    sizes="(max-width: 479px) 92vw, (max-width: 767px) 95vw, (max-width: 991px) 96vw, (max-width: 1279px) 97vw, 1244px"
                    alt="" />
            </div>
            <div id="w-node-_628315c7-9285-9cb1-4712-9cee2615c32b-ac768e33" class="card-item light">
                <img src="https://assets.website-files.com/604b35876a71cbbd84768e36/604e5220385521ad71415047_Features-Image-2-min.png"
                    loading="lazy" style="opacity:0" data-w-id="628315c7-9285-9cb1-4712-9cee2615c331"
                    srcset="https://assets.website-files.com/604b35876a71cbbd84768e36/604e5220385521ad71415047_Features-Image-2-min-p-500.png 500w, https://assets.website-files.com/604b35876a71cbbd84768e36/604e5220385521ad71415047_Features-Image-2-min-p-800.png 800w, https://assets.website-files.com/604b35876a71cbbd84768e36/604e5220385521ad71415047_Features-Image-2-min.png 1068w"
                    sizes="(max-width: 479px) 92vw, (max-width: 767px) 95vw, (max-width: 991px) 96vw, (max-width: 1279px) 97vw, 1244px"
                    alt="" />
                <div class="card-item-content">
                    <div class="fade-in-on-scroll">
                        <h4>Collaborative.</h4>
                    </div>
                    <div class="fade-in-on-scroll">
                        <p>Risitibox also offers a collaborative feature that allows users to add their colleagues
                            or team members to their account. This means that anyone within the organization can
                            scan and file receipts directly to the company's shared account. This collaborative
                            approach ensures that all receipts are efficiently managed and readily available to
                            authorized personnel, enhancing workflow and eliminating the risk of losing or
                            misplacing important receipts.</p>
                    </div>
                </div>
            </div>


            <div id="w-node-_628315c7-9285-9cb1-4712-9cee2615c32b-ac768e33" class="card-item light"><img
                    src="https://assets.website-files.com/604b35876a71cbbd84768e36/604e5220385521ad71415047_Features-Image-2-min.png"
                    loading="lazy" style="opacity:0" data-w-id="628315c7-9285-9cb1-4712-9cee2615c331"
                    srcset="https://assets.website-files.com/604b35876a71cbbd84768e36/604e5220385521ad71415047_Features-Image-2-min-p-500.png 500w, https://assets.website-files.com/604b35876a71cbbd84768e36/604e5220385521ad71415047_Features-Image-2-min-p-800.png 800w, https://assets.website-files.com/604b35876a71cbbd84768e36/604e5220385521ad71415047_Features-Image-2-min.png 1068w"
                    sizes="(max-width: 479px) 92vw, (max-width: 767px) 95vw, (max-width: 991px) 96vw, (max-width: 1279px) 97vw, 1244px"
                    alt="" />
                <div class="card-item-content">
                    <div class="fade-in-on-scroll">
                        <h4>Report.</h4>
                    </div>
                    <div class="fade-in-on-scroll">
                        <p>The app provides valuable reporting functionalities. Users can generate reports based on
                            specific date ranges and expense categories. This feature enables users to gain insights
                            into their spending habits, track expenses over time, and make informed financial
                            decisions. By organizing receipts based on categories, such as travel, office supplies,
                            or meals, users can easily identify areas of high expenditure and optimize their budget
                            accordingly.</p>
                    </div>
                </div>
            </div>
            <div id="w-node-_7b19d13e-0e8d-2369-5abf-e24fedfaa268-ac768e33" class="card-item light">
                <div class="card-item-content">
                    <div class="fade-in-on-scroll">
                        <h4>VAT accounting</h4>
                    </div>
                    <div class="fade-in-on-scroll">
                        <p>Differentiating between receipts with VAT and those without VAT is crucial in the
                            RisitiBox app. After scanning a receipt, the app provides a convenient check button to
                            confirm whether the receipt includes VAT. This feature plays a vital role in accurately
                            calculating the VAT value or amount for seamless integration into accounting processes.
                            By clearly distinguishing between VAT and non-VAT receipts, RisitiBox ensures precise
                            financial calculations and facilitates efficient accounting practices</p>
                    </div>
                </div>
                <img src="https://assets.website-files.com/604b35876a71cbbd84768e36/604e5220385521ad71415047_Features-Image-2-min.png"
                    loading="lazy" style="opacity:0" data-w-id="628315c7-9285-9cb1-4712-9cee2615c331"
                    srcset="https://assets.website-files.com/604b35876a71cbbd84768e36/604e5220385521ad71415047_Features-Image-2-min-p-500.png 500w, https://assets.website-files.com/604b35876a71cbbd84768e36/604e5220385521ad71415047_Features-Image-2-min-p-800.png 800w, https://assets.website-files.com/604b35876a71cbbd84768e36/604e5220385521ad71415047_Features-Image-2-min.png 1068w"
                    sizes="(max-width: 479px) 92vw, (max-width: 767px) 95vw, (max-width: 991px) 96vw, (max-width: 1279px) 97vw, 1244px"
                    alt="" />
            </div>





            <div id="w-node-bf82d6d8-19d5-7d71-8ac6-e7bb3b408754-ac768e33" class="card-item light">
                <div class="card-item-content">
                    <div class="card-feature-center">
                        <div class="fade-in-on-scroll">
                            <img src="{% static 'img/user_friendly.svg' %}">

                        </div>
                        <div class="fade-in-on-scroll">
                            <h6>User Friendly</h6>
                        </div>
                        <div class="fade-in-on-scroll">
                            <p>Simple App design, easy to navigate.</p>
                        </div>

                    </div>
                </div>
            </div>
            <div id="w-node-_0d566606-fd33-a3ac-c52c-ded5bb91b946-ac768e33" class="card-item light">
                <div class="card-item-content">
                    <div class="card-feature-center">
                        <div class="fade-in-on-scroll">

                            <img src="{% static 'img/sun.svg' %}">


                        </div>
                        <div class="fade-in-on-scroll">
                            <h6>Eco-Friendly</h6>
                        </div>
                        <div class="fade-in-on-scroll">
                            <p>Environmental friend impacts.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div id="w-node-_7bea1a70-4116-a7db-c374-fff947065047-ac768e33" class="card-item light">
                <div class="card-item-content">
                    <div class="card-feature-center">
                        <div class="fade-in-on-scroll"><img
                                src="https://assets.website-files.com/604b35876a71cbbd84768e36/604d2be2aca4e502d56c3db6_lock.svg"
                                loading="lazy" alt="" class="card-feature-icon" /></div>
                        <div class="fade-in-on-scroll">
                            <h6>Safe and Secure</h6>
                        </div>
                        <div class="fade-in-on-scroll">
                            <p>No worries to safety, your data are well secured.
                            </p>
                        </div>
                    </div>
                </div>
            </div>





        </div>


    </div>
</div>

<div id="About" class="section">
    <div class="container">
        <div class="w-layout-grid grid-6-col">
            <div id="w-node-_64ab14ec-0a71-9abe-100c-83874d852302-ac768e33" class="trusted-content">
                <div class="content-sticky">
                    <div class="fade-in-on-scroll">
                        <h2>We are trusted by thousands of people</h2>
                    </div>
                    <div class="fade-in-on-scroll">
                        <p class="text-xl">Born in Tanzania, our visionary mission is to establish an eco-friendly
                            ecosystem for paperless receipts, catering to businesses while championing environmental
                            conservation.</p>
                    </div>
                </div>
            </div>
            <div id="w-node-_1511bf1a-c884-944b-f323-a3f0ea7187b5-ac768e33" class="trusted-content trusted-list">
                <div class="trusted-overlay-container">
                    <div class="trusted-white-overlay"></div>
                    <div class="trusted-white-overlay bottom"></div>
                </div>
                <div class="trusted-item">
                    <div class="trusted-item-header">
                        <h2 class="trusted-no">5.0</h2>
                        <h5>review average in our app</h5>
                    </div>
                    <div class="fade-in-on-scroll">
                        <p class="text-xl">Our App have 5-star rate in both App Store and Play store.</p>
                    </div>
                </div>
                <div class="trusted-item">
                    <div class="trusted-item-header">
                        <h2 class="trusted-no">FREE</h2>
                        <h5>we left no one behind.</h5>
                    </div>
                    <div class="fade-in-on-scroll">
                        <p class="text-xl">Download and use it right away, store your purchases
                            receipts and benefit with all tremendous features.
                        </p>
                    </div>
                </div>
                <!-- <div class="trusted-item">
        <div class="trusted-item-header">
          <h2 class="trusted-no">9k</h2>
          <h5>new subscriptions /m</h5>
        </div>
        <div class="fade-in-on-scroll">
          <p class="text-xl">Currently we are receiving about 9000 new clients every month, what are you waiting for?</p>
        </div>
      </div> -->
                <div class="trusted-item last">
                    <div class="trusted-item-header">
                        <h2 class="trusted-no">Share</h2>
                        <h5>a light pdf copy</h5>
                    </div>
                    <div class="fade-in-on-scroll">
                        <p class="text-xl">You can easily share all your receipts to others with just one click.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <!-- <div class="w-layout-grid grid-10-columns" style="margin-bottom: 50px;box-shadow: none !important;">
  <div id="w-node-dc7224ca-e1a6-5f22-af6a-66bccec780c6-ac768e33" class="card-item light">
    <div class="container">
      <div class="fade-in-on-scroll">
        <h2 class="text-gradient-2">Subscription Bundles.</h2>
      </div>
      <div class="fade-in-on-scroll text-center">
        <p class="text-xl">Streamline your receipts and simplify your finances with ease.<br>

         
          </p>
      </div> -->

    <style>
        .custom-feature-grid {
            width: 100%;
            margin-bottom: 3em;
            grid-column-gap: 2em;
            grid-row-gap: 2em;
            -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr !important;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr !important;
            -ms-grid-rows: auto;
            grid-template-rows: auto;
        }

        @media only screen and (max-width: 576px) {
            .custom-feature-grid {
                width: 100%;
                margin-bottom: 3em;
                grid-column-gap: 2em;
                grid-row-gap: 2em;
                -ms-grid-columns: 1fr !important;
                grid-template-columns: 1fr !important;
                -ms-grid-rows: auto;
                grid-template-rows: auto;
            }
        }
    </style>
    <div class="w-layout-grid custom-feature-grid">

        <!-- <div id="w-node-_0d566606-fd33-a3ac-c52c-ded5bb91b946-ac768e33" class="card-item light" >
          <div class="card-item-content">
            <div class="card-feature-left">
              <div class="fade-in-on-scroll">
              
                
                </div>
              <div class="fade-in-on-scroll">
                <h4>Basic</h4>
                <h5><span style="color: #3549FF;font-size: 1.4em;">TZS 0</span> / month</h5>

                <h6>FREE <span style="color: #b9b9b9;font-size: 1.0em;font-weight: 600;"></span> </h6>
                
              </div>
              <div class="fade-in-on-scroll">
                <div class="checkTik">
                  <span data-feather="check"></span> <p> 1 user only.</p>
                </div>
                <div class="checkTik">
                  <span data-feather="check"></span> <p> 200 MB storage.</p>
                </div>
                <div class="checkTik">
                  <span data-feather="check"></span> <p> Unlimited scans.</p>
                </div>

   
              </div>
            </div>
          </div>
        </div> -->

        <!-- <div id="w-node-_0d566606-fd33-a3ac-c52c-ded5bb91b946-ac768e33" class="card-item light popularChoice" style="background-image: linear-gradient(290deg, #8692ff, #3549FF)">
          <div class="card-item-content "  >
            <div class="card-feature-left">
              
              <div class="fade-in-on-scroll">
            <span class="ribbon">Popular for companies</span>

              
                
                </div>
              <div class="fade-in-on-scroll">
                <h4 style="color: white;">Premium Plus</h4>
                <h5 style="color: white;"><span style="font-size: 1.4em;">TZS 18,500</span> / month</h5>

                <h6 style="color: white;">TZS 194,250 / year <span style="color: #ffffff;font-size: 1.0em;font-weight: 600;">save 12.5 %</span></h6>
                
              </div>
              <div class="fade-in-on-scroll" style="color: white;">
                <div class="checkTik">
                  <span data-feather="check"></span> <p> Up to 10 users.</p>
                </div>
                <div class="checkTik">
                  <span data-feather="check"></span> <p> 3 GB storage.</p>
                </div>
                <div class="checkTik">
                  <span data-feather="check"></span> <p> Unlimited scans.</p>
                </div>
                <div class="checkTik">
                  <span data-feather="check"></span> <p> Daily report.</p>
                </div>
                <div class="checkTik">
                  <span data-feather="check"></span> <p> Monthly report via email.</p>
                </div>

          
              </div>
            </div>
          </div>
        </div> -->
        <!-- <div id="w-node-_0d566606-fd33-a3ac-c52c-ded5bb91b946-ac768e33" class="card-item light">
          <div class="card-item-content">
            <div class="card-feature-left">
              <div class="fade-in-on-scroll">

                
                </div>
              <div class="fade-in-on-scroll">
                <h4>Premium</h4>
                <h5><span style="color: #3549FF;font-size: 1.4em;">TZS 9000</span> / month</h5>

                <h6>TZS 97,200 / year  <span style="color: #b9b9b9;font-size: 1.0em;font-weight: 600;">save 10 %</span></h6>
                
              </div>
              <div class="fade-in-on-scroll">
                <div class="checkTik">
                  <span data-feather="check"></span> <p> Up to 5 users.</p>
                </div>
                <div class="checkTik">
                  <span data-feather="check"></span> <p> 1.5 GB storage.</p>
                </div>
                <div class="checkTik">
                  <span data-feather="check"></span> <p> Unlimited scans.</p>
                </div>
                <div class="checkTik">
                  <span data-feather="check"></span> <p> Daily report.</p>
                </div>

                
              </div>
            </div>
          </div>
        </div> -->



        <!-- <div id="w-node-_0d566606-fd33-a3ac-c52c-ded5bb91b946-ac768e33" class="card-item light">
          <div class="card-item-content">
            <div class="card-feature-left">
              <div class="fade-in-on-scroll">

                
                </div>
              <div class="fade-in-on-scroll">
                <h4>Enterprise</h4>
                <h5><span style="color: #3549FF;font-size: 1.4em;">TZS 60,000</span> / month</h5>

                <h6>TZS 648,000 / year <span style="color: #b9b9b9;font-size: 1.0em;font-weight: 600;">save 10 %</span></h6>
                
              </div>
              <div class="fade-in-on-scroll">
                <div class="checkTik">
                  <span data-feather="check"></span> <p> Unlimited users.</p>
                </div>
                <div class="checkTik">
                  <span data-feather="check"></span> <p> 10 GB storage.</p>
                </div>
                <div class="checkTik">
                  <span data-feather="check"></span> <p> Unlimited scans.</p>
                </div>
                <div class="checkTik">
                  <span data-feather="check"></span> <p> Daily report.</p>
                </div>
                <div class="checkTik">
                  <span data-feather="check"></span> <p> Weekly report.</p>
                </div>
                <div class="checkTik">
                  <span data-feather="check"></span> <p> Monthly report via email.</p>
                </div>
                <!-- <span style="color: #3549FF;font-size: 1.5em;font-weight: 600;">save 15 %</span> -->
    </div>
</div>
</div>
</div>

</div>




</div>
</div>
</div>



</div>

<div id="FeatureList" class="section light-blue-bg">
    <div class="container">
        <div class="w-layout-grid grid-10-columns">
            <div id="w-node-dc7224ca-e1a6-5f22-af6a-66bccec780c6-ac768e33" class="card-item light">
                <div class="card-item-content">
                    <div class="fade-in-on-scroll">
                        <h2 class="text-gradient-2">Stay tuned &amp;<br />Build your business.</h2>
                    </div>
                    <div class="fade-in-on-scroll">
                        <p class="text-xs">We will email you only about this product.</p>
                    </div>
                    <div id="Subscribe" data-w-id="f364b3bf-0c95-4a4d-3084-8202ced2d852" style="opacity:0"
                        class="subscribe-form w-form">
                        <form id="wf-form-Subscribe-Form" name="wf-form-Subscribe-Form" data-name="Subscribe Form"
                            method="get" class="subscribe-form-flex">
                            <div class="subscribe-form-input-wrapper">
                                <input type="email" class="form-input subscribe-input w-input" maxlength="256"
                                    name="Email" data-name="Email" placeholder="Your Email" id="Email" required="" />
                            </div>

                            <a href="mailto:info@risitibox.com?subject=Risitibox%20Info%20Contact&body=">
                                <!-- <button class="button btn-subscribe w-button">Send</button> -->
                                <input type="button" value="" data-wait="..." class="button btn-subscribe w-button" />
                            </a>
                        </form>
                        <div class="success-message w-form-done">
                            <div>Thank you! Your submission has been received!</div>
                        </div>
                        <div class="error-message w-form-fail">
                            <div>Oops! Something went wrong while submitting the form.</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="Download" class="section light-blue-bg">
    <div class="container phone-container">
        <div class="w-layout-grid grid-6-col">
            <div id="w-node-a136e70e-a0ad-9d01-ec68-2e537ec8b5e7-ac768e33" class="content phone-content-text">
                <div class="fade-in-on-scroll">
                    <div class="app-icon-text-holder">
                        <div class="app-icon-holder"><img src="{% static 'img/logo_icon_blue.png' %}" loading="lazy"
                                alt="" class="" /></div>
                        <div> Embark on your experience by downloading now and getting started!</div>
                    </div>
                </div>
                <div class="fade-in-on-scroll">
                    <h2>Manage it all, in this all new system.</h2>
                </div>
                <div class="download-buttons mobile-vertical">
                    <div class="download-button">
                        <div class="fade-in-on-scroll"><a href="https://apps.apple.com/tz/app/risitibox/id6448885601"
                                target="_blank" class="button download w-inline-block"><img
                                    src="https://assets.website-files.com/604b35876a71cbbd84768e36/604cf52ff6f5c04c33cca6ad_Apple-Icon.svg"
                                    loading="lazy" alt="" class="download-button-icon" />
                                <div> Download for iOS</div>
                            </a></div>
                    </div>
                    <div class="download-button last">
                        <div class="fade-in-on-scroll"><a
                                href="https://play.google.com/store/apps/details?id=com.risitibox.receiptapp"
                                target="_blank" class="button download w-inline-block"><img
                                    src="https://assets.website-files.com/604b35876a71cbbd84768e36/604cf52f84f8f84bb92cde4e_Android-Icon.svg"
                                    loading="lazy" alt="" class="download-button-icon" />
                                <div> Download for Android</div>
                            </a></div>
                    </div>
                </div>
            </div>
            <div id="w-node-_137c2bb4-4509-ee79-0592-7207c42c0509-ac768e33" class="content">
                <div data-w-id="6bff453a-e257-79ae-5a82-6ee7a87dc6d0" style="opacity:0" class="phone-holder-container">
                    <div class="phone-slider-container">
                        <div data-delay="3000" data-animation="fade" class="phone-slider w-slider" data-autoplay="true"
                            data-easing="ease" data-hide-arrows="false" data-disable-swipe="false"
                            data-autoplay-limit="0" data-nav-spacing="3" data-duration="500" data-infinite="true">
                            <div class="phone-slider-mask w-slider-mask">
                                <div class="phone-slide w-slide"><img src="{% static 'img/details.png' %}"
                                        loading="lazy" sizes="(max-width: 479px) 158px, 239px"
                                        srcset="{% static 'img/details.png' %} 500w, {% static 'img/details.png' %} 750w"
                                        alt="" class="phone-slide-image" /></div>
                                <div class="phone-slide w-slide"><img src="{% static 'img/language.png' %}"
                                        loading="lazy" sizes="(max-width: 479px) 158px, 239px"
                                        srcset="{% static 'img/language.png' %} 500w, {% static 'img/language.png' %} 1120w"
                                        alt="" class="phone-slide-image" /></div>
                                <div class="phone-slide w-slide"><img src="{% static 'img/reports.png' %}"
                                        loading="lazy" sizes="(max-width: 479px) 158px, 239px"
                                        srcset="{% static 'img/reports.png' %} 500w, {% static 'img/reports.png' %} 1120w"
                                        alt="" class="phone-slide-image" /></div>
                                <div class="phone-slide w-slide"><img src="{% static 'img/categories.png' %}"
                                        loading="lazy" sizes="(max-width: 479px) 158px, 239px"
                                        srcset="{% static 'img/categories.png' %} 500w, {% static 'img/categories.png' %} 1120w"
                                        alt="" class="phone-slide-image" /></div>
                                <!-- <div class="phone-slide w-slide"><img
                  src="https://assets.website-files.com/604b35876a71cbbd84768e36/604d4b5db64f644b318b64f9_Calendar2.png"
                  loading="lazy" sizes="(max-width: 479px) 158px, 239px"
                  srcset="https://assets.website-files.com/604b35876a71cbbd84768e36/604d4b5db64f644b318b64f9_Calendar2-p-500.png 500w, https://assets.website-files.com/604b35876a71cbbd84768e36/604d4b5db64f644b318b64f9_Calendar2.png 1125w"
                  alt="" class="phone-slide-image" /></div> -->
                            </div>
                            <div class="phone-slider-arrows w-slider-arrow-left">
                                <div class="w-icon-slider-left"></div>
                            </div>
                            <div class="phone-slider-arrows w-slider-arrow-right">
                                <div class="w-icon-slider-right"></div>
                            </div>
                            <div class="phone-slide-nav w-slider-nav w-round"></div>
                        </div>
                    </div><img
                        src="https://assets.website-files.com/604b35876a71cbbd84768e36/604dfffd690126842fd21112_Hand-iPhoneX.png"
                        loading="lazy" alt="" class="phone-holder-image" />
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}